html,
body {
  text-align: center;
  background: #424242;
  color: cornsilk;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-padding {
  padding-bottom: 5%;
}

.matrix {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

td {
  font-size: xx-large;
  padding: 20px;
  border: 1px solid cornsilk;
}

.left {
  width: 50%;
  float: left;
  text-align: center;
}

.right {
  width: 50%;
  float: right;
  text-align: center;
}

.content {
  overflow: auto;
  position: relative;
}

.button-wrapper {
  padding: 5px;
  position: relative;
}
