html,
body {
  text-align: center;
  background-color: #424242;
  color: cornsilk;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  background: #424242;
}

.bottom-padding {
  padding-bottom: 5%;
}

.invis-row {
  visibility: hidden;
}

.vis-when-rsk {
  visibility: hidden;
}

.no-overlap {
  margin: 10px;
}

.custom-btn {
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: radial-gradient(ellipse, #787e87 0, #424242);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid cornsilk;
}

.matrix {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background: #424242;
}

td {
  font-size: xx-large;
  padding: 20px;
  border: 1px solid cornsilk;
  background: #424242;
}

.addRow,
.addCol {
  border: 1px solid cornsilk;
  margin: 10px;
}

.left {
  width: 49%;
  float: left;
  height: 100%;
  text-align: center;
  background: #424242;
}

.right {
  width: 49%;
  height: 100%;
  float: right;
  text-align: center;
  background: #424242;
}

.content {
  overflow: auto;
  background: #424242;
  position: relative;
  height: 100%;
}

.button-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
